/* style.css */

body {
    font-family: sans-serif;
    background-color: #272525;
  }
  
  header {
    background-image: url(https://unsplash.com/s/photos/sunsets);
    background-size: cover;
    background-position: center;
    height: 100px; 
    width: 70%;
    margin: 20px auto; 
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #342F2F;
  }

  
  h1 {
    color: white;
    font-size: 2rem;
  font-weight: bold;
  margin-left: 20px;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    position: absolute; /* Añade position absolute al botón */
    right: 5%; /* Coloca el botón a un 5% del ancho del header desde el borde derecho */
    top: 9%; /* Centra verticalmente el botón */
    transform: translateY(-50%); /* Ajusta la posición vertical del botón */
  }
  
  .btn-primary2 {
    color: #fff;
    background-color: #c691ef;
    border-color: #8a4e93;
  }

  
  main {
    background-color: #272525;
  }
  
  section {
    padding: 20px;
    background-color: #342F2F;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  section h2 {
    color: white;
  }
  
  section p {
    color: white;
  }
  
  footer {
    background-color: #342F2F;
    text-align: center ;
    position: absolute;
    bottom: auto;
    width: 100%;

  }
  footer p {
    color: white;
  }

  .section-image {
    position: absolute;
    top: 50%;
    left: -30px; /* Ajusta el espacio entre la imagen y el borde de la sección */
    transform: translateY(-50%);
    width: 60px; /* Ancho de la imagen */
    height: auto; /* Altura ajustada automáticamente */
    border-radius: 10px; /* Ajusta el borde de la imagen */
  }
  
  /* Estilos para el botón de reproducción */
  .play-button {
    position: absolute;
    top: 50%;
    left: 10px; /* Ajusta el espacio entre el botón y la imagen */
    transform: translateY(-50%);
  }